
<!DOCTYPE html>
<script src="https://cdn.tailwindcss.com"></script>
<title>{% block title %}{% endblock %} - AmbuLink</title>
<nav class="border w-full h-fit p-3 text-right align-middle flex">
    <div class="w-fit flex">
        <a href="/app/patient" class="flex"><img src="https://i.ibb.co/4jK4MKv/logo.png" alt="logo" border="0" class="w-20"> <p class="align-middle text-2xl m-auto px-3 font-bold text-green-400">AmbuLink</p></a>
       
    </div>
    <div class="w-full text-righ mt-5">
    <a class="mx-5 text-[1.2rem]" href="/app/ambulance/patients">Patients</a>
    <a class="mx-5 text-[1.2rem]" href="/icu">ICU Status</a>
    </div>
    <form method="post" action="/callambu" class="w-full m-auto text-right">
        <button type="submit" class="text-white bg-green-400 rounded-lg hover:bg-red-700 px-5 py-3 mx-5 text-[1.2rem]">Navigation</button>
    </form>

</nav>
<section class="content">
  {% block content %}{% endblock %}
</section>