{% extends 'user.html' %}

{% block header %}
  <h1>{% block title %}HOSPITAL REGISTRATION FORM{% endblock %}</h1>
{% endblock %}
{% block content %}
<section class="m-auto mt-5 text-center p-5 border w-fit">
    <h1 class="text-2xl">Medical Information Form</h1>
    <form action="/submit" class="text-left w-fit m-auto" method="post">
        <div>
            <label for="full_name">Full Name:</label><br>
            <input type="text" id="full_name" name="full_name" class="border px-4 py-2 rounded-lg mt-2"placeholder="Enter your full name">
        </div>
        <br>
        <div>
            <label for="sex">Sex:</label><br>
            <input type="text" id="sex" name="sex" class="border px-4 py-2 rounded-lg mt-2" placeholder="Enter your sex">
        </div>
        <br>
        <div>
            <label for="age">Age:</label><br>
            <input type="text" id="age" name="age" class="border px-4 py-2 rounded-lg mt-2" placeholder="Enter your age">
        </div>
        <br>
        <div>
            <label for="phone_number">Phone Number:</label><br>
            <input type="text" id="phone_number" name="phone_number" class="border px-4 py-2 rounded-lg mt-2" placeholder="Enter your phone number">
        </div>
        <br>
        <div>
            <label for="email">Email:</label><br>
            <input type="text" id="email" name="email" class="border px-4 py-2 rounded-lg mt-2" placeholder="Enter your email ID">
        </div>
        <br>
        <div>
            <label for="address">Address:</label><br>
            <textarea id="address" class="border px-4 py-2 rounded-lg mt-2" name="address" rows="4" cols="50" placeholder="Enter your full address"></textarea>
        </div>
        <br>
        <div>
            <label for="allergies">Medical Allergies:</label><br>
            <textarea id="allergies" class="border px-4 py-2 rounded-lg mt-2" name="allergies" rows="4" cols="50" placeholder="List any medical allergies..."></textarea>
        </div>
        <br>
        <div>
            <label for="blood-type">Blood Type:</label><br>
            <input type="text" id="blood-type" class="border px-4 py-2 rounded-lg mt-2" name="blood-type" placeholder="Enter your blood type">
        </div>
        <br>
        <div>
            <label for="blood_pressure">Blood Pressure:</label><br>
            <input type="text" id="blood_pressure" name="blood_pressure" class="border px-4 py-2 rounded-lg mt-2" placeholder="Enter your recorded blood pressure">
        </div>
        <br>
        <div>
            <button type="submit" class="text-white bg-red-500 rounded-lg hover:bg-red-700 px-5 py-3 text-[1.2rem]">Submit</button>
        </div>
    </form>
</section>

{% endblock %}