{% extends 'user.html' %}

{% block header %}
  <h1>{% block title %}DASHBOARD{% endblock %}</h1>
{% endblock %}
{% block content %}
<section class="m-auto mt-5 text-center p-5 px-12 border w-2/5 h-full">
    <h1 class="text-2xl">Medical Information Form</h1>
    <form class="text-left w-parent m-auto" method="post">
        <div>
            <label for="full_name">Full Name:</label><br>
           
        </div>
        <br>
        <div>
            <label for="age">Age:</label><br>
            
        </div>
        <br>
        <div>
            <label for="allergies">Medical Allergies:</label><br>
           
        </div>
        <br>
        <div>
            <label for="blood-type">Blood Type:</label><br>
         
        </div>
        <br>
        <div>
            <label for="height">Height (cm): </label><br>
          
        </div>
        <br>
        <div>
            <label for="weight">Weight (kg): </label><br>
        
        </div>
        <br>
        <div class=>
            <button class="text-white bg-red-500 rounded-lg ml-48 hover:bg-red-700 px-5 py-3 text-[1.2rem]"><a href="/app/profileupdate">Update Profile </a></button>
        </div>
    </form>
</section>

{% endblock %}