
<!DOCTYPE html>
<script src="https://cdn.tailwindcss.com"></script>
<title>{% block title %}{% endblock %} - AmbuLink</title>
<nav class="border w-full h-fit p-3 text-right align-middle flex">
    <div class="w-fit flex">
        <a href="/home"><img src="https://i.ibb.co/4jK4MKv/logo.png" alt="logo" border="0" class="w-20"></a>
        <p class="align-middle text-2xl m-auto px-3 font-bold text-red-500">AmbuLink</p>
    </div>
    <div class="w-full text-right flex">
    <div>
    <a class="mx-5 text-[1.2rem]" href="/">Dashboard</a>
    <a class="mx-5 text-[1.2rem]" href="/about"></a>
    </div>
    <form method="post" class="w-full m-auto text-right">
        <button type="submit" class="text-white bg-red-500 rounded-lg hover:bg-red-700 px-5 py-3 mx-5 text-[1.2rem]" href="/">CALL AN AMBULANCE</button>
    </form>
</div>

</nav>
<section class="content">
  {% block content %}{% endblock %}
</section>